@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arapey:ital@0;1&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container4 {
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   color: white;
    background-color: var(--background-color2);
}

.hero-section3{
    background: url("team.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;

  }
  .hero-section3::before{
    background-color: rgba(0,0,0,0.6);
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hero-section3 .container{
    position: relative;
    top:100px;
    color: whitesmoke;
  }
  #style4{
    position: relative;
   top:170px;
   text-align: center;
   font-size: 90px;
}


.Head {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
iframe {
    width: 100%;
    height: 450px;
    border: none;
}
#text{
    font-size: 25px;
}
.inner-form{
  font-family: "Arapey", serif;
}

#inner-contactus{
    display: flex;
   justify-content: space-evenly;
}

#name{
 width: 400px;
 height: 50px;
 border: none;
 box-shadow: 0 0 10px;
 font-family: "Arapey", serif;
 border-radius: 5px;
}
#email{
    width: 400px;
    height: 50px;
    border: none;
    box-shadow: 0 0 10px;
    border-radius: 5px;
   
   }
#message{
    width: 400px;
    height: 200px;
    border: none;
    box-shadow: 0 0 10px;
 border-radius: 5px;
   }
 
.inner-form button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: block; 
    width: 100px; 
    box-shadow: 0 0 5px black;
    
   
}
button:hover {
    border: 1px solid white;
}
.locations-info{
position: relative;
top: 100px;
font-family: "Arapey", serif;
}
@media (max-width: 640px) {
    #inner-contactus{
   flex-direction: column;
    }

    #name{
        width: 100%;
        height: 25px;
       }
       #email{
           width: 100%;
           height: 25px;
          }
       #message{
           width: 100%;
           height: 150px;
          
          }
          #text{
            font-size: 15px;
            padding: 10px;
          }

          .inner-form{
            padding: 10px ;
          }
          iframe {
            width: 100%;
            height: 200px;
            border: none;
            padding: 10px;
        }
        .inner-form button {
         width: 100px; 
         /* height: 20px; */
        }
      .locations-info p{
        position: relative;
        bottom: 100px;
      }
    
    #style4{
      position: relative;
     top:5px;
     text-align: center;
     font-size: 50px;
    }
}